<%- include('../partials/navbar.ejs') %>
    <h1>ingredient</h1>
    <ul>
      </br> 
      Name: <%= ingredient.name %> 
      </br>
    </ul>
    <img id="showimage" src="/Images/<%= ingredient.image %>" alt="" />
    <a href="/ingredients/<%= ingredient._id %>/edit">Edit this ingredient</a>
    <form action="/ingredients/<%= ingredient._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete this ingredient</button>
    </form>
 